Source: bve-train-br-class-323
Section: games
Priority: optional
Maintainer: Paul Sladen <ubuntu@paul.sladen.org>
Build-Depends: debhelper (>= 5)
Build-Depends-Indep: vorbis-tools
Standards-Version: 3.8.0
Vcs-Browser: http://github.com/sladen/bve-train-br-class-323/tree/debian
Vcs-Git: http://github.com/sladen/bve-train-br-class-323.git
Homepage: http://www.trainsimcentral.co.uk/bve_train.htm

Package: bve-train-br-class-323
Architecture: all
Provides: bve-train
Suggests: bve-route-cross-city-south
Recommends: bve-engine
Description: British Rail Class 323 EMU train (for OpenBVE rail simulator)
 Accurate simulation of a three-car electric mulitple unit used in
 West Midlands of the United Kingdom and built in the 1990s.
 .
 The train contains a rendered cab environment, including the combined
 power+brake controller and the 3D model for exterior views.
 .
 A suitable route is the Birmingham Cross-City South route, running
 from Redditch to Birmingham New Street.
 . 
 This version of the Class 323 has been has been specially prepared
 for inclusion with openBVE, and is released into the public domain.
 .
 http://www.trainsimcentral.co.uk/bve_train.htm
