#!/usr/bin/make -f
export DH_VERBOSE=1

TARGET = $(CURDIR)/debian/bve-train-br-class-323
DOCTARGET = $(TARGET)/usr/share/doc/bve-train-br-class-323

# Standarised location
BVETARGET = $(TARGET)/usr/share/games/bve

# Components
TRAINDIR = Train/bve-train-br-class-323-unrefurb

# Renamed to something Nicer
TRAINTARGET = $(BVETARGET)/Train/BR_Class_323

build: build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm -rf $(TARGET)
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Change the Train name to something closer to the previous tarball
	cp -a $(CURDIR)/$(TRAINDIR)/* $(TRAINTARGET)/

	# Recode big .wavs to Ogg Vorbis;  SDL_LoadWAV loads them happily
	# The impulse_noisetune is to keep the background hum and buzz
	find $(TRAINTARGET) -type f -iname \*wav -exec oggenc --advanced-encode-option impulse_noisetune=-1 -4 -o {}.ogg {} \; -exec mv {}.ogg {} \;

binary-arch:
	# Do nothing

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_install
	dh_installchangelogs
	dh_installdocs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: build clean binary-indep binary install
